@import "tailwindcss";

.btn:hover{
  cursor:pointer;
}
.card::-webkit-scrollbar {
  display: none;
}
.back{
  min-height: 100vh;
}
.nav{
  height:80px ;
}

@media(max-width:400px){
  .card-component{
    justify-content: center;
  }
  .heading{
    font-size: large;
  }
  .nav{
    height:50px;
  }
  .ad{
    width:30px;
    height:30px;
  }
}